body{
font-family: Arial, sans-serif;
margin:0;
background:#f2f2f2;
}

header{
background:#0d47a1;
color:white;
padding:20px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:yellow;
}

.hero{
text-align:center;
padding:50px;
}

.produits{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:20px;
}

.produit{
background:white;
width:220px;
padding:15px;
border-radius:12px;
text-align:center;
cursor:pointer;
transition:0.3s;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.produit:hover{
transform:scale(1.05);
}

.produit img{
width:100%;
height:200px;
object-fit:cover;
border-radius:10px;
}

button{
background:#0d47a1;
color:white;
padding:10px;
border:none;
margin-top:10px;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#1565c0;
}

/* MODAL */

.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
justify-content:center;
align-items:center;
}

.modal-content{
background:white;
padding:30px;
border-radius:12px;
width:300px;
text-align:center;
}

.close{
float:right;
cursor:pointer;
font-size:20px;
}

input{
padding:10px;
width:90%;
margin:10px 0;
}

footer{
text-align:center;
padding:20px;
background:#0d47a1;
color:white;
}